.categories {
  font-family: 'Roboto', sans-serif;

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    &__right {
      position: relative;
    }
  }

  &-types-pizza {
    margin-right: 25px;
    max-width: 950px;

    &-btn {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      text-align: center;
      letter-spacing: 0.015em;
      color: #2c2c2c;

      padding: 14px 34px;
      background: #f9f9f9;
      border-radius: 30px;
      transition: all 0.3s;

      &:not(:last-child) {
        margin-right: 9px;
      }

      &:nth-child(7n) {
        margin-top: 10px;
      }

      &:hover {
        background: #282828;
        color: #fff;
      }
    }
  }

  &-btn--active {
    background: #282828;
    color: #fff;
  }
}
