.header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 80px;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 88px;
    background: #f7f7f7;
  }
}

.logo {
  //font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;

  &-img {
    margin-right: 17px;
  }

  &-text {
    &__title {
      font-weight: 900;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #181818;
    }

    &__subtitle {
      color: #7b7b7b;
    }
  }
}

.shopping-cart {
  font-family: 'Roboto', sans-serif;
  background: #fe5f1e;
  border-radius: 30px;
  padding: 15px 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  &-price {
    padding-right: 13px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 25px;
      background: rgba(255, 255, 255, 0.25);
      right: 0;
      bottom: -4px;
    }
  }

  &-amount {
    position: relative;
    padding-left: 35px;

    &::before {
      content: "";
      width: 18px;
      height: 18px;
      left: 7px;
      display: inline-block;
      background: url("../../img/icons/shopping-cart.svg");
      position: absolute;
    }
  }
}
