@import "./constants.scss";

.modal {
  position: absolute;
  right: 0;
  top: 30px;
  min-width: 165px;

  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 13px 0;

  &-options {
    padding: 10px 14px;
    display: block;
    cursor: pointer;
    transition: $main-transition;

    &--active {
      font-weight: $main-font-weight-bold;
      color: $main-color;
      background: rgba(254, 95, 30, 0.05);
    }

    &:hover {
      color: $main-color;
      font-weight: $main-font-weight-bold;
    }
  }
}

.main-button {
  font-family: $main-font-family;
  background: $main-color;
  border-radius: $border-radius-btn;
  padding: 15px 23px;
  font-weight: $main-font-weight-bold;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: #ffffff;
}
