.modal {
  position: absolute;
  right: 0;
  top: 30px;
  min-width: 165px;

  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 13px 0;

  &-options {
    padding: 10px 14px;
    display: block;
    cursor: pointer;
    transition: all .2s;

    &--active {
      font-weight: 700;
      color: #fe5f1e;
      background: rgba(254, 95, 30, 0.05);
    }

    &:hover {
      color: #fe5f1e;
      font-weight: 700;
    }
  }
}

.main-button {
  font-family: 'Roboto', sans-serif;
  background: #fe5f1e;
  border-radius: 30px;
  padding: 15px 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}